/*ABOUT US - BLOG CSS*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Oswald:600,700');
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
.sm-navbar {
    background-color: #0C0613;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}
.sm-logo {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    border-bottom: 3px solid transparent;
}
.sm-logo:hover {
    transition: all 0.4s ease;
    cursor: pointer;
}
.sm-logo:hover a {
    color: white;
    transition: all 0.4s ease;
    border-bottom: 3px solid #27aae1;
    text-decoration: none;
}
.sm-logo a {
    font-size: 2em;
    color:#27aae1;
}
.sm-nav-menu {
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10%;
}
.sm-nav-menu li {
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 0;
}
.sm-nav-menu .nav-links {
    margin-left: 50px;
    color: white;
    padding: 8px;
    transition: all 0.4s ease;
    display: inline-block;
    border-bottom: 3px solid #27aae1;
    text-decoration: none;
    font-weight: bolder;
}
.sm-nav-menu .nav-links:hover {
    background: #27aae1;
    padding: 8px;
    transition: all 0.4s ease;
    transform: scale(1.1);
}
.sm-nav-menu .nav-links2 {
    margin-left: 35px;
    color: white;
    padding: 8px;
    transition: all 0.4s ease;
    display: inline-block;
    border-bottom: 3px solid #27aae1;
    text-decoration: none;
    font-weight: bolder;
}
.sm-nav-menu .nav-links2:hover {
    background: #27aae1;
    padding: 8px;
    transition: all 0.4s ease;
    transform: scale(1.1);
}

.sm-nav-menu .nav-links3 {
    margin-left: 35px;
    color: white;
    padding: 8px;
    transition: all 0.4s ease;
    display: inline-block;
    border-bottom: 3px solid darkred;
    text-decoration: none;
    font-weight: bolder;
}
.sm-nav-menu .nav-links3:hover {
    background: darkred;
    padding: 8px;
    transition: all 0.4s ease;
    transform: scale(1.1);
}

/*SEARCH BUTTON*/
.fg--search {
    background: white;
    position: relative;
    width: 300px;
}

.fg--search input {
    width: 100%;
    padding: 5px 80px 14px 13px;
    display: block;
}

.fg--search button {
    height: 47px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 2;
    background-color: #27aae1;
}

.fg--search input:focus + button .fa-search {
    color: red;
}

/*BLOG ABOUT DIV ONE*/
.blog-social {
    background: url("https://image.ibb.co/mJ9tLa/image.png");
    background-color: #212121;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 400px;
}

.container2 {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sm-navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #0C0613;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

h1 {
    padding-top: 120px;
    color: whitesmoke;
    text-align: center;
    font-size: 46px;
    font-weight: 900;
    text-transform: uppercase;
}

.social_icons {
    text-align: center;
    /* margin: initial; */
    margin-left: -53px;
}

.square {
    height: 60px;
    width: 60px;
    border: 1px dashed white;
    margin: 0 0 0 55px;
    /*   padding: 1px; resize squares */
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    transform: rotateZ(44deg);
}

.square:hover {
    background-color: rgba(27, 182, 239, 0.2);
    transition: ease 0.2s;
    cursor: pointer;
}

.square .icons {
    position: absolute;
    transform: rotateZ(-44deg);
    margin: 15px 0 0px 18px;
}

.fa-facebook,
.fa-twitter,
.fa-dribbbler,
.fa-youtube,
.fa-dribbble {
    width: 11px;
    height: 22px;
    color: white;
    font-family: FontAwesome;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
}

.square:hover .fa-facebook {
    color: rgba(59, 89, 152, 1)
}

.square:hover .fa-instagram {
    color: rgba(199, 59, 111, 1)
}

.square:hover .fa-google-plus {
    color: rgba(229, 45, 39, 1)
}

/*INFORMATION CONTAINER*/
.information-container {
    background: #0C051C;
    background-size: cover;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* padding: 0 20px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}

.section-title h1{
    padding-top: 10px!important;
}

.border {
    width: 160px;
    height: 2px;
    background: #27aae1;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 43%;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #27aae1;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #27aae1;
    color: #ddd;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.description {
    font-size: 14px;
}

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}

/*ABOUT US DIV INFO*/
figure.snip0078 {
    font-family: 'Oswald', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 350px;
    max-height: 310px;
    width: 100%;
    text-align: center;
}

figure.snip0078 img {
    opacity: 1;
    max-width: 100%;
    border: 10px solid #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.snip0078 figcaption {
    bottom: 0;
    width: 60%;
    right: 0;
    position: absolute;
    background: #000000;
    padding: 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    box-shadow: 0 0px 10px -10px #000000;
}

figure.snip0078 figcaption h2,
figure.snip0078 figcaption p {
    margin: 0;
    color: #ffffff;
}

figure.snip0078 figcaption h2 {
    font-weight: 400;
    text-transform: uppercase;
}

figure.snip0078 figcaption h2 span {
    font-weight: 800;
}

figure.snip0078 figcaption p {
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.65;
}

figure.snip0078 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip0078.blue figcaption {
    background: #315e95;
}

figure.snip0078.blue img {
    border: 10px solid #315e95;
}

figure.snip0078.red figcaption {
    background: #81261d;
}

figure.snip0078.red img {
    border: 10px solid #81261d;
}

figure.snip0078.yellow figcaption {
    background: #a85913;
}

figure.snip0078.yellow img {
    border: 10px solid #a85913;
}

figure.snip0078:hover figcaption,
figure.snip0078.hover figcaption {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0 15px 15px -15px #000000;
}

figure.snip0078:hover.blue img,
figure.snip0078.hover.blue img {
    border: 10px solid #2980b9;
}

figure.snip0078:hover.red img,
figure.snip0078.hover.red img {
    border: 10px solid #c0392b;
}

figure.snip0078:hover.yellow img,
figure.snip0078.hover.yellow img {
    border: 10px solid #e67e22;
}


.snip1374 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 240px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.snip1374 img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.snip1374:hover img,
.snip1374.hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.info-text{
    top: 50%;
}
.info-text p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 26px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    /* padding: 16% 4%; */
    padding-top: 4%;
    padding-bottom: 7%;
    vertical-align: middle;
}
.info-text .right {
    float: right;
}

/*FOOTER - BLOG CSS*/
.bg-dark{
    background-color: #0C0613!important;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #0C0613;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #27aae1;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #919191;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3d6ad6;
}
.twitter-bg{
    background: #55ACEE;
}
.google-bg{
    background: #DD4B39;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #27aae1;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: #27aae1;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #212529;
    border: 1px solid #212529;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #27aae1;
    padding: 13px 20px;
    border: 1px solid #27aae1;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #27aae1;
    text-decoration: none;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}